<%- contentFor('body') %>
<h4>Ping</h4>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="ip" class="bmd-label-floating">Digite a URL</label>
    <input type="text" class="form-control" id="ip">
    <span class="bmp-help">Enter the IP or Host URL.</span>
  </div>
  <button type="button" class="btn btn-raised btn-success bmd-btn-fab"><i class="material-icons">check</i></button>

</div>
<div class="row">
  <h4>Results</h4>
  <div id="results">

    </div>
</div>

