<%- contentFor('body') %>
<div class="row">
    <% for(m of menus) { %>
        <div class="icon col-sm-4">
            <a href="<%- m.link %>">
                <img src="<%- m.image %>">
                <h5><%- m.title %></h5>
            </a>
        </div>
        <% } %>
</div>
