<!DOCTYPE html>
<html lang="pt-br">
  <head>
       <%- include layouts/head %>
  </head>
  <header>
        <%- include  layouts/nav %>
  </header>
  <main>

   
    <div class="container">
      
      <%- body %>

    </div>
    
<footer>
    <%- include layouts/footer %>
</footer>
    
    
  </main>
</html>